* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(lord\ ganesha.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    width: 90%;
    margin: auto;
    padding-top: 20px;
    display: flex;
}

.logo h1 {
    color: white;
    font-size: 50px;
    font-family: system-ui;
}

.logo {
    width: 50%;
}

.text {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text p {
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.text p:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(57, 224, 239);
    transition: width 0.3s ease;
}

.text p:hover:after {
    width: 100%;
}
.content {
    position: relative;
    top: 200px;
    width: 60%;
    margin: auto;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.5);
}

.title {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.title h1{
    color: white;
    font-size: 70px;
}

.description {
    text-align: center;
    padding: 10px;

}
.description p {
    color: white;
    font-size: 20px;
}